.driver {
  margin-top: 50px;
  margin-left: 43px;
}

.image {

  width: 1200px;
  height: 190px;
}

.pickup {
  margin-top: 15px;
  width: 1200px;
  height: 35px;
}

.destination {
  margin-top: 15px;
  width: 1200px;
  height: 35px;
}

.fare {
  margin-top: 15px;
  width: 1200px;
  height: 35px;
}

.comment {
  margin-top: 15px;
  width: 1200px;
  height: 35px;
}

.finddriver {
  margin-top: 15px;
  width: 1200px;
  height: 35px;
}

.btn {
  margin-top: 15px;
  width: 1200px;
  height: 35px;
  gap: 50px;
}
