.avatar {
  width: 100px;
  height: 100px;
  margin-left: 55px;
}

.profile {
  margin-left: 550px;
}

.saveData {
  margin-left: 70px;
  margin-top: 25px
}

.ln {
  margin-top: 25px
}

.fn {
  margin-top: 25px
}

.email {
  margin-top: 25px
}

.dob {
  margin-top: 25px
}

.city {
  margin-top: 25px
}
